
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data & models (large)
data/raw/
data/processed/*.parquet
out/
*.ckpt

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
